@media (max-width: 1200px)
    .heading
        &.heading_lg
            font-size: 40px

    .section_features_pension
        margin-top: 0

    .section_intro_pension
        .tags-list-wrapper
            bottom: 40px

    .tabs__controls
        justify-content: flex-start
        &__item
            margin-left: 10px
            margin-right: 10px
            margin-bottom: 20px
    .section
        font-size: 20px

    .cards
        &__heading
            font-size: 24px
        &__text
            font-size: 16px

    .gallery 
        &__item
            width: 33.33333%

@media (max-width: 991px)
    .pt
        padding-top: 50px
    .pb
        padding-bottom: 50px
    .heading
        &.heading_lg
            font-size: 36px
        &.heading_md
            font-size: 26px

    .section_features_pension
        .container
            padding-bottom: 0
        .icon-feature
            margin-bottom: 30px

    .section
        font-size: 18px
    
    .icon-feature
        .icon
            padding-right: 40px
            height: 80px
            svg
                width: 80px
                height: 80px
            &:after
                height: 70px
        &__inner
            font-size: 18px
            padding-left: 50px
    .section_features_pension
        .col
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0
        .icon-feature
            margin-bottom: 0
    .icons-list 
        &__item
            width: 100%
            &:nth-child(2)
                border-top: 1px solid #ebebeb


    .section_contacts 
        .contacts-card-wrapper
            position: static
            margin-bottom: 50px

        .contacts-card
            width: 100%
            height: auto

    .gallery 
        &__item
            width: 50%
@media (max-width: 767px)
    .heading
        &.heading_lg
            font-size: 32px
        &.heading_md
            font-size: 24px
    .tabs__controls
        justify-content: center
        &__item
            margin-left: 0
            margin-right: 0
            width: 100%
    .cards
        flex-wrap: wrap
        &__item
            width: 100%
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0
        &__heading
            font-size: 24px
        &__text
            font-size: 16px


    .section_gallery_pension
        .tabs_gallery
            display: none

        .slider-gallery
            display: block

    .section_capture-form 
        .form
            padding-left: 20px
            padding-right: 20px
            padding-top: 20px
            padding-bottom: 20px

    .contacts-card 
        &__title
            font-size: 20px


    .page-navigation
        display: none