@import "vars"
@import "fonts"
@import "libs"


.section_intro
	display: flex
	min-height: 640px
	font-size: 16px
	.section__inner
		width: 100%
		display: flex
		margin-top: auto
		margin-bottom: auto

.section_intro_pension
	position: relative
	.link
		color: #fff
	.section__inner
		padding-top: 109px
		padding-bottom: 180px
	.text_info-icon
		margin-top: 1em
		margin-bottom: 1em
		display: flex
		.icon
			margin-top: auto
			margin-bottom: auto
			width: 27px
			height: 27px
		span
			margin-left: 15px
			margin-top: auto
			margin-bottom: auto
	.tags-list-wrapper
		width: 100%
		left: 0
		bottom: 220px
		position: absolute
		.tags-list


.section_features_pension
	margin-top: -180px
	.container
		overflow: hidden
		border-top-left-radius: 6px
		border-top-right-radius: 6px
		position: relative
		z-index: 2
		padding-top: 40px
		padding-bottom: 40px
		background-color: #fff

.section_service_pension
	.heading
		margin-bottom: 1em
	.btn
		margin-top: 1em

.section_programm-desc
	.heading_sm
		margin-top: 0.25em
	.cards
		margin-top: 30px


.section_gallery_pension
	.heading
		margin-bottom: 1em
	.tabs__content
		margin-top: 40px

	.slider-gallery
		display: none

.section_capture-btn
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	.heading_sm
		margin: 1em 0

	.btn
		margin-top: 1em

.section_capture-form
	.form
		padding-left: 40px
		padding-right: 40px
		.heading_md
			margin-bottom: 1em

		.heading_sm
			margin-bottom: 2em

.map-container
	height: 580px

.section_contacts
	position: relative
	.contacts-card-wrapper
		position: absolute
		left: 0
		width: 100%
		bottom: 40px
	.heading_md
		margin-bottom: 1.5em


@import "media" // Always at the end